<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  
    <servlet>
        <servlet-name>RealController</servlet-name>
        <servlet-class>controller.RealController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RealController</servlet-name>
        <url-pattern>/postMessage</url-pattern>        
    </servlet-mapping>
  
    <servlet-mapping>
        <servlet-name>RealController</servlet-name>
        <url-pattern>/goWeblog</url-pattern>       
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>RealController</servlet-name>
        <url-pattern>/goWeblogAdm</url-pattern>       
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RealController</servlet-name>
        <url-pattern>/deletePost</url-pattern>       
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>RealController</servlet-name>
        <url-pattern>/Response</url-pattern>       
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>RealController</servlet-name>
        <url-pattern>/newComment</url-pattern>       
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RealController</servlet-name>
        <url-pattern>/setAdminMode</url-pattern>       
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RealController</servlet-name>
        <url-pattern>/setEditPost</url-pattern>       
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
    </jsp-config>
</web-app>